<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
  <h1>A a new modification for <%= recipe.title %> was added to Mixr</h1>
    <p>
    You indicated that you wanted to be informed when someone submitted new ways to change the <%= @recipe.title %> recipe. Head over to <a href=<%= @link %>>Mixr</a> to check it out!
    </p>
  </body>
</html>
