<span class="mods">
  <i class="fa fa-comment mod-toggle"></i>
  <span class="suggestions">
    <ul>
      <% modifications.each do |mod| %>
        <li>
          <% num_full = mod.rating.to_i %>
          <% diff = mod.rating - num_full %>
          <% half_full = diff < 0.5 ? 0 : 1 %>
          <% num_full.times do %>
            <i class="fa fa-star"></i>
          <% end %>
          <% half_full.times do %>
            <i class="fa fa-star-half-full"></i>
          <% end %>
          <% (5 - num_full - half_full).times do %>
            <i class="fa fa-star-o"></i>
          <% end %>
          <%= mod.suggestion %>
        </li>
      <% end %>
      <li>
        <span class="new-mod-form">
          <%= form_tag modifications_path do %>
            <%= text_area_tag 'new_mod', nil, placeholder: "Submit a new modification.", class: "new-mod", id: orig_id %>
            <%= submit_tag 'Submit', class: "submit-mod btn btn-primary"%>
          <% end %>
        </span>
      </li>
    </ul>
  </span>
</span>
