<% provide(:title, "New Recipe") %>
<h1>New Recipe</h1>

<div class = "form">
<%= render 'form' %>
<<<<<<< HEAD

<%= link_to 'Back', recipes_path %>
</div>
=======
>>>>>>> b4bc21fe69b743385ef8043c1625845f30a44c81
