// Place all the styles related to the Recipes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#add-ingredient {
  cursor: pointer;
}

#add-step {
  cursor: pointer;
}

.mod-toggle {
  cursor: pointer;
}

.suggestions {
  display: none;
}

